<div id="project">
  <p id="notice"><%= notice %></p>

  <div class="project-images">
    <ul class="small-block-grid-1">
      <% @project.gallery.image_filenames.each do |image_filename|  %>
        <li><img src="<%= image_filename %>" /></li>
      <% end %>
    </ul>
  </div>

  <div class="project-information">
    <h2><%= @project.title %></h2>
    <ul>
      <li>client: <%= @project.client %></li>
      <li>description: <%= @project.description %></li>
    </ul>
  </div>
</div>
